.welcome-page{
    margin:50px 0 0 200px;
    .movies-content{
        margin: 0 40px 40px 40px;
        text-align: left;
        .title{
            font-size: 40px;
        }
        .movies-container{
            display: flex;
            flex-wrap: wrap;
            .movie-preview{
                margin: 10px 40px 10px 0;
            }
        }
    }
}