.movie-details-page {
  margin-left: 200px;
  .backdrop-container {
    width: 100%;
    height: 600px;
    .backdrop {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .main-infos,.synopsis-content,.productions-companies-content,.casting-content,.videos-content,.similar-movies-content{
    margin: 0 40px 20px 40px;
    text-align: left;
    border-bottom: 1px solid lightgrey;
  }
  .infos {
    position: relative;
    background: #fff;
    top: -150px;
    padding-top: 50px;
    .main-infos {
      display: flex;
      .poster-container {
        width: 250px;
        height: 400px;
        img {
          width: 100%;
          border: 1px solid lightgrey;
        }
      }

      .technical-infos {
        text-align: left;
        margin-left: 40px;
        h2 {
          margin: 0;
          font-size: 40px;
        }
        .tagline {
          font-size: 13px;
        }
        .infos-list {
          list-style-type: none;
          padding: 0;
          .infos-element {
            margin: 20px 0;
            font-size: 20px;
            .strong{
              font-weight: 700;
            }
          }
          .rating-avg {
            display: flex;
            .progress-bar {
              width: 300px;
              background: lightgrey;
              margin-left: 10px;
              .progress-bar-data {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                line-height: 100%;
              }
            }
          }
          .genres {
            .genre {
              display: inline-flex;
              position: relative;
              margin: 0 5px;
              padding: 0 10px;
              border: 1px solid lightgrey;
              text-transform: uppercase;
              font-size: 16px;
              transition: all 0.3s;
              overflow: hidden;
              a {
                text-decoration: none;
                color: unset;
              }
              &:hover {
                transform: scale(1.05);
                text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                &::before {
                  transform: rotate(164deg) translate(20px, -8px);
                }
              }
              &:before {
                content: "";
                position: absolute;
                height: 150%;
                width: 150%;
                background: #01b4e4;
                box-shadow: 0 0 10px #fff;
                opacity: 0.2;
                transition: all 0.3s;
                transform: rotate(164deg) translate(20px, -50px);
                overflow: hidden;
              }
            }
          }
          .origin-country {
            .flag {
              margin: 0 5px;
              img {
                width: 30px !important;
                border:1px solid lightgrey;
              }
            }
          }
        }
      }
    }
    .productions-companies-content {
      .companies-container {
        display: flex;
        flex-wrap: wrap;
        .company {
          position: relative;
          width: 300px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px 20px 20px 0;
          padding: 10px;
          border: 1px solid lightgrey;
          transition: all 0.3s;
          overflow: hidden;
          img {
            width: 100%;
            max-height: 100%;
          }
          .company-infos {
            position: absolute;
            bottom: -50%;
            width: 100%;
            text-align: center;
            background-color: #f1f1f1;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
              rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
              rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            transition: all 0.3s;
            p {
              display: inline-block;
              margin: 0;
            }
            span {
              display: inline-block;
              margin: 0 5px;
              img {
                width: 25px !important;
              }
            }
          }
          &:hover {
            .company-infos {
              bottom: 0;
            }
            &::before {
              transform: rotate(145deg) translate(0, -150px);
            }
          }
          &::before {
            content: "";
            position: absolute;
            height: 150%;
            width: 150%;
            background: #01b4e4;
            box-shadow: 0 0 10px #fff;
            opacity: 0.1;
            transition: all 0.3s;
            transform: rotate(145deg) translate(0, -350px);
            overflow: hidden;
          }
        }
      }
    }
    .casting-content, .similar-movies-content{
      .cast-list, .similar-list{
        display: flex;
        flex-wrap: wrap;
        .cast-preview, .movie-preview{
          margin: 10px 40px 10px 0;
        }
      }
    }
    .videos-content{
      .videos-list{
        padding:0;
        list-style-type: none;
      }
    }
  }
}
