@for $value from 0 through 100 {
  &.w-#{$value}{
      width: $value *1%;
      @if $value == 0{
        background: transparent;
        width: 100% !important;
        color: black;
      } @else if $value < 50 {
        background: #ab2727;
      } @else if $value < 70 {
        background: #ec8817;
      } @else if $value < 90 {
        background: #21d07a;
      } @else {
        background: #04914c;
      }
  }
}
