.genres-page{
    margin-left: 200px;
    h1{
        margin:50px 0;
    }
    .genres-container{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        a{
            text-decoration: none;
            color: unset;
        }
        .genre{
            position: relative;
            width: 200px;
            height: 100px;
            line-height: 100px;
            margin:10px;
            border: 1px solid lightgrey;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s;
            overflow: hidden;
            &:hover{
                transform: scale(1.05);
                text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                &::before{
                    transform: rotate(155deg) translate(100px,15px);
                }
            }
            &::before{
                content: "";
                position: absolute;
                height: 150%;
                width: 150%;
                background: #01b4e4;
                box-shadow: 0 0 10px #fff;
                opacity: 0.2;
                transition: all 0.3s;
                transform: rotate(155deg) translate(100px,-100px);
            }
        }
    }
}