.person-details-page {
  margin-left: 200px;
  .main-infos,.biography-content,.filmography-content{
      margin: 0 40px 20px 40px;
      text-align: left;
      border-bottom: 1px solid lightgrey;
  }
  .infos {
    background: #fff;
    padding-top: 50px;
    .main-infos {
      display: flex;
      .photo-container {
        width: 250px;
        height: 400px;
        img {
          width: 100%;
          border: 1px solid lightgrey;
        }
      }
      .identity-infos {
        text-align: left;
        margin-left: 40px;
        h2 {
          margin: 0;
          font-size: 40px;
        }
        .infos-list {
          list-style-type: none;
          padding: 0;
          .infos-element {
            margin: 20px 0;
            .strong {
              font-weight: 700;
            }
          }
        }
      }
    }
    .biography-content{
      p{
        text-align: justify;
        line-height: 2;
      }
    }
    .filmography-content {
      .filmography-list {
        display: flex;
        flex-wrap: wrap;
        .movie-preview{
            text-align: center;
            margin: 10px 40px 10px 0;
        }
      }
    }
  }
}
