.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background: #0d253f;
  .logo-container {
    background: lighten(#0d253f, 5%);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 80%;
      img {
        width: 100%;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  nav {
    color: #f1f1f1;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    .nav-list {
      list-style-type: none;
      padding: 0;
      .nav-element {
        .lien {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: unset;
          p {
            padding: 10px 0;
            margin: 0;
            font-size: 18px;
          }
        }
        &:hover {
          background: lighten(#0d253f, 5%);
        }
        .formSubmit{
          position: relative;
          flex-shrink: 1;
          .inputRecherche{
              width: 100%;
              background: #fff;
              border: 2px solid #fff;
          }
          .logoLoupe{
              width: 20px;
          }
          button{
            position: absolute;
            right: 0;
            background: #fff;
            height: 100%;
            border:none;
            border-left: 1px solid lightgrey;
        }
      }
      }
    }
  }
}
