.movies-genres-page{
    margin-left: 200px;
    h1{
        margin:50px 0;
    }
    .movies-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        .movie-preview{
            margin:20px;
        }
    }
}