.cast-preview{
    position: relative;
    height: 350px;
    width:  230px;
    transition: all 0.3s;
    border: 1px solid lightgrey;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
    }
    .cast-preview-infos{
        position: absolute;
        background: rgba(255,255,255,0.8);
        width: 100%;
        height: 25%;
        bottom: -100%;
        transition: all 0.3s;
        padding: 0 5px;
        .name{
            margin: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 0;
        }
        .role{
            margin: 5px;
            text-align: left;
            margin-top: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .lien{
            position: absolute;
            font-weight: 600;
            bottom: 0;
            left:0;
            width: 100%;
            text-align: center;
            color: unset;
            text-decoration: underline;
            margin-bottom: 5px;
        }
    }
    &:hover{
        transform: scale(1.05);
        box-shadow: rgba(0,0,0,0.24) 0 3px 8px;
        .cast-preview-infos{
            bottom:0;
        }
    }
}