.research-page{
    margin-left: 200px;
    h2{
        margin: 50px 0;
    }
    .research-container{
        margin: 0 40px;
        display: flex;
        flex-wrap: wrap;
        .movie-preview{
            margin: 10px 40px 10px 0;
        }
    }
}